body {
  background-color: gray;
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

p {
  color: white;
  font-variant: small-caps;
  font-size: xxx-large;
  margin: 0px;
}

.form {
  width: 100%;
  height: 100%;
  justify-items: center;
  align-content: center;
}

.text-box {
  margin: 10px;
  height: 30px;
  font-size: 24px;
  width: 375px;
  resize: none;
  display: block;
  margin: 15px;
}

.submit-creation {
  display: block;
  width: 380px;
}
